        location /nginx_status {
                stub_status on;
                access_log   off;
                allow 127.0.0.1;
		allow 10.8.92.8;
		allow 10.10.160.5;
                deny all;
	}
