.tox
.venv
*.retry
inventory/local/*
.vagrant
# generated docs
docs/build/

*.swp
*.swo
*.pyc
*.pyo
*.egg-info
.idea
# The destination folder that python setup.py sdist drops results into
dist
build
.coverage
coverage.xml
htmlcov/
