recursive-include cinch/files *
recursive-include cinch/group_vars *
recursive-include cinch/library *
recursive-include cinch/roles *
include cinch/teardown.yml
include cinch/site.yml
include README.md
